<h3><%= @post.title%></h3>
posted by <%= @user.email %>
<br/>
<%= @post.updated_at.localtime.strftime("on %B %e, %Y %r") %>
<br/>
<h4>
<%= @post.content%>
<%= %>
</h4>
<%= link_to 'Back', posts_path %>