<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap App - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="btn-group pull-right">
  <% if user_signed_in? %>
    <button class="btn btn-large btn-info"> <i class="icon-user icon-white"></i> <%= current_user.email %> </button>
    <button class="btn btn-large btn-info"> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?" %> </button>
  <% else %>
    <button class="btn btn-large btn-primary"> <%= link_to "Log In", new_user_session_path %> </button>
    <button class="btn btn-large btn-primary"> <%= link_to "Sign Up", new_user_registration_path %></button>
  <% end %>
</div>

<%= yield %>

</body>

<!-- <div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div> -->

</html>